.navbar {
  margin-bottom: 0;
}

.main-article {
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.img-responsive {
  width: 100%;
}

#text-box {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 4px solid red;
}

@media (min-width: 972px) {
  #text-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.432), white 60%);
  }
}

.article h3 a {
  color: red;
}

.article h2 a {
  color: #222;
  
}
article-3 {
  background: linear-gradient( rgba(255, 255, 255, 0.432)aquamarine 60%)
}